* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.orange-bar {
  height: 40px;
  background-color: #ff8c00;
}

header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #000;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

.build-flow-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.past-flows {
  color: #000;
  font-size: 24px;
  padding: 10px 20px;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.white-section {
  height: 30px;
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;
}

.flow-list {
  background-color: #fff;
  overflow: hidden;
  margin-left: 5rem;
  margin-right: 5rem;
}

.flow-date {
  background-color: #f0f0f0;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.flow-date h3 {
  font-size: 18px;
  font-weight: bold;
}

.flow-count {
  color: #888;
  font-size: 14px;
  padding-left: 1rem;
}

.flow-items {
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  margin: 5px 0;
  margin-top: 0;
}

.flow-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}

.flow-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: #f0f0f0;
}

.flow-item:last-child::after {
  display: none;
}

.flow-info h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.flow-description {
  color: #888;
  font-size: 14px;
}

.flow-actions {
  display: flex;
  gap: 10px;
}

.flow-btn {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn,
.delete-btn {
  background-color: #333;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-btn::after {
  content: "✎";
}

.delete-btn::after {
  content: "🗑";
}

.screen {
  display: none !important;
}

.active {
  display: block !important;
}

#buildScreen {
  padding: 20px;
}

#flowScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.flow-header {
  background-color: rgb(0, 0, 0, 0);
  color: rgb(62, 62, 62);
  padding: 20px;
  text-align: center;
  z-index: 3;
}

.flow-header h1 {
  margin: 0;
  font-size: 3.5rem;
}

.flow-header p {
  margin: 5px 0 0;
  font-size: 18px;
  z-index: 3;
}

#asanaImage {
  position: relative;
  padding: 15px;
  padding-top: 35px;
  /* top: 80px; Adjust this value to move it closer to or further from the top */
  /* left: 50%; */
  transform: translateY(-5%);
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;
  /* height: 300px; */
  object-fit: contain;
  z-index: 0;
  user-select: none; /* Makes the image unselectable */
  pointer-events: none; /* Prevents the image from interfering with mouse events */
}

.countdown-svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

#countdown-circle {
  transition: stroke-dashoffset 0.1s linear;
  position: absolute;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #888;
  border-radius: 50%;
  color: #888;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 0;
  line-height: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.close-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.close-btn:focus {
  outline: none;
}

.flow-content {
  position: relative;
  min-height: 400px; /* Adjust as needed */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.asana-image-container {
  width: 100%;
  height: 60vh;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.flow-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  padding: 20px;
  margin-top: 25px;
}

.home-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.countdown-container {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
}

.pause-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #888;
  border-radius: 50%;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.coming-up {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  /* position: absolute; */
  /* right: 3px !important; */
  /* top: 0; */
}

.coming-up p {
  margin: 0;
  text-align: right;
}

#nextAsanaName {
  font-weight: bold;
  margin-bottom: 5px;
}

#nextAsanaImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  align-self: flex-end;
  margin-top: 10px;
  /* position: absolute; */
  /* right: 0; */
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .build-flow-btn {
    margin-top: 10px;
  }

  .flow-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .flow-actions {
    margin-top: 10px;
  }

  .flow-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .flow-item::after {
    width: 90%;
  }
}
